<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdvocaciaLCA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListaClienteSetup</display-name>
    <servlet-name>ListaClienteSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.ListaClienteSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaClienteSetup</servlet-name>
    <url-pattern>/ListaClienteSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalheClienteSetup</display-name>
    <servlet-name>DetalheClienteSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.DetalheClienteSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalheClienteSetup</servlet-name>
    <url-pattern>/DetalheClienteSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioHonorarioSetup</display-name>
    <servlet-name>RelatorioHonorarioSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.RelatorioHonorarioSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioHonorarioSetup</servlet-name>
    <url-pattern>/RelatorioHonorarioSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioAudienciaSetup</display-name>
    <servlet-name>RelatorioAudienciaSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.RelatorioAudienciaSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioAudienciaSetup</servlet-name>
    <url-pattern>/RelatorioAudienciaSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarPagamentoSetup</display-name>
    <servlet-name>RegistrarPagamentoSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.RegistrarPagamentoSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarPagamentoSetup</servlet-name>
    <url-pattern>/RegistrarPagamentoSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaTitulosProcessoSetup</display-name>
    <servlet-name>ListaTitulosProcessoSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.ListaTitulosProcessoSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaTitulosProcessoSetup</servlet-name>
    <url-pattern>/ListaTitulosProcessoSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreparaCadastroProcesso</display-name>
    <servlet-name>PreparaCadastroProcesso</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.PreparaCadastroProcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreparaCadastroProcesso</servlet-name>
    <url-pattern>/PreparaCadastroProcesso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutenticacaoSetup</display-name>
    <servlet-name>AutenticacaoSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.AutenticacaoSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticacaoSetup</servlet-name>
    <url-pattern>/AutenticacaoSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaHonorarioSetup</display-name>
    <servlet-name>ListaHonorarioSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.ListaHonorarioSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaHonorarioSetup</servlet-name>
    <url-pattern>/ListaHonorarioSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraProcesso</display-name>
    <servlet-name>CadastraProcesso</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.CadastraProcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraProcesso</servlet-name>
    <url-pattern>/CadastraProcesso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroHonorarioSetup</display-name>
    <servlet-name>CadastroHonorarioSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.CadastroHonorarioSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroHonorarioSetup</servlet-name>
    <url-pattern>/CadastroHonorarioSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroHonorario</display-name>
    <servlet-name>CadastroHonorario</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.CadastroHonorario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroHonorario</servlet-name>
    <url-pattern>/CadastroHonorario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexSetup</display-name>
    <servlet-name>IndexSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.IndexSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexSetup</servlet-name>
    <url-pattern>/IndexSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvogadosProcesso</display-name>
    <servlet-name>AdvogadosProcesso</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.AdvogadosProcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvogadosProcesso</servlet-name>
    <url-pattern>/AdvogadosProcesso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloqueioSetup</display-name>
    <servlet-name>BloqueioSetup</servlet-name>
    <servlet-class>br.com.advocacialca.servlets.BloqueioSetup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloqueioSetup</servlet-name>
    <url-pattern>/BloqueioSetup</url-pattern>
  </servlet-mapping>
</web-app>